{{ define "one" }}
    {{ template "html-head" .}}

    <a class="delete is-medium is-pulled-right is-hidden-print" href="/"></a>

    <h1 class="title is-1 has-text-centered mt-4">
      {{ .recipe.Name }}
    </h1>
    <div class="columns">
        <!-- Display Image and Tags -->
        <div class="column is-4 is-offset-1">
            <div style="width: 15rem; height: 15rem; margin-left: auto; margin-right: auto;" class="my-4 image">
              <img src="{{ .recipe.Metas.Bild }}" alt="" class="" style="margin: auto 0; height: auto; bottom: 0; right: 0; left: 0; top: 0; position: absolute;">
            </div>
            <span class="tag">
              <i class="ri-time-line"></i>
              &nbsp;
              {{ .recipe.Metas.Dauer }}
            </span>
            <span class="tag">
              <i class="ri-parent-line"></i>
              &nbsp;
              {{ .recipe.Metas.Portionen }}
            </span>
            <span class="tag">
              <i class="ri-lightbulb-flash-line"></i>
              &nbsp;
              {{ .recipe.Metas.Von }}
            </span>
        </div>

        <!-- List of Ingredients -->
        <div class="column is-5 is-offset-1">
            <h2 class="title is-4">Zutaten</h2>
            <ul class="content">
            {{ range $key, $value :=  .recipe.Ingredients }}
                <li>{{ $value }} {{ $key }}</li>
            {{ end }}
            </ul>
        </div>
    </div>

    <!-- Steps rendered from Markdown -->
    <h2 class="title is-4">Zubereitung</h2>
    <div class="content">
        <ol>
            {{ range $key, $value :=  .recipe.Steps }}
                <li>{{ $value }}</li>
            {{ end }}
        </ol>
    </div>

    {{ template "html-foot"}}
{{ end }}